.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;

    a {
        font-weight: 700;
    }

    h4 {
        margin-top: 0;
        color: inherit;
    }


    &.success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #5cb85c;
    }

    &.info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #5bc0de;
    }

    &.warning {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #f0ad4e;
    }

    &.danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d9534f;
    }
}