@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #52545e;
    background-color: #f6f6f6;
    font-weight: 400;
}

.h1, h1 {
    font-size: 28px;
    margin: 35px 0;
}

.h2, h2 {
    font-size: 24px;
}

.h3, h3 {
    font-size: 20px;
}

.h4, h4 {
    font-size: 18px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
    text-transform: uppercase;
}

a {
    color: #337ab7;
    text-decoration: none;
}

ol, ul {
    margin: 0 0 10px;
}

p {
    margin: 0 0 10px;
}