{% extends '::layout.html.twig' %}

{% block heading %}
    <h1>Liste des étudiants</h1>
{% endblock %}

{% block body %}
    <div data-paginate="/students" data-limit="1">
        Chargement...
        <script id="template" type="text/html">
            <table class="table">
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Promo</th>
                    <th>Adresse email</th>
                    <th>Cotisant</th>
                </tr>
                </thead>
                <tbody>
                    [[for data]]
                        <tr>
                            <td>[[:first_name]]</td>
                            <td>[[:last_name]]</td>
                            <td>[[:school_year]]</td>
                            <td>[[:email]]</td>
                            <td>
                                [[if is_sub]]
                                    <span class="label success">
                                        Oui
                                    </span>
                                [[else]]
                                    <span class="label danger">
                                        Non
                                    </span>
                                [[/if]]
                            </td>
                        </tr>
                    [[/for]]
                </tbody>
            </table>
        </script>
    </div>
{% endblock %}

