.notifbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: #1D9E74;
    padding: 14px 24px;
    transition: all .5s ease;

    &.hidden {
        display: initial !important;
        transform: translateY(100%);
    }

    &.danger {
        background-color: #9E1D1D;
    }
}