{% extends "@FairpaySchool/Registration/layout.html.twig" %}

{% block body %}
    <h1>Nom de l'école</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <p>
            Cela permettra aux élèves de trouver facilement votre BDE sur Fairpay.
        </p>

        <button>Suivant</button>
    {{ form_end(form) }}
{% endblock %}
