{% extends "@FairpaySchool/Registration/layout.html.twig" %}

{% block body %}
    <h1>Nom de l'école</h1>
    <input ng-model="ctrl.school.name">
    <p>
        Cela permettra aux élèves de trouver facilement votre BDE sur Fairpay.
    </p>

    <button ng-click="ctrl.next()">Suivant</button>
{% endblock %}
