{% extends '@FairpayUser/Registration/layout.html.twig' %}

{% block body %}
    <p>Vous êtes déjà inscrit avec cette adresse email, si vous avez oublié votre mot de passe vous pouvez le réinitialiser.</p>

    <a href="{{ path('fairpay_user_register') }}" class="btn success" id="reset-password">Réinitialiser mon mot de passe</a>
{% endblock %}

