{% extends '@FairpayUser/Registration/layout.html.twig' %}

{% block body %}
    <p>Vous êtes déjà inscrit avec cette adresse email, si vous avez oublié votre mot de passe vous pouvez le réinitialiser.</p>
    <p>
        <a class="btn success">Réinitialiser mon mot de passe.</a>
    </p>
{% endblock %}

