{% extends '@FairpayUser/Registration/layout.html.twig' %}

{% block body %}
    <p>Vous devriez déjà être inscrit et avoir reçus un email de validation.</p>
    <p>
        <a class="btn success">Me renvoyer l'email de validation</a>
    </p>
{% endblock %}
