{% extends '@FairpayUser/Registration/layout.html.twig' %}

{% block body %}
    <p>Vous devriez déjà être inscrit et avoir reçus un email de validation.</p>

    <a href="{{ path('fairpay_user_register') }}" class="btn success" id="resend-email">Me renvoyer l'email de validation</a>
{% endblock %}
