Pour réinitialiser votre mot de passe cliquez
{% if finish_registration %}
    <a href="{{ url('fairpay_user_registration_step1', {token: token}) }}">ici</a>
{% else %}
    <a href="{{ url('fairpay_user_account_reset_password', {token: token}) }}">ici</a>
{% endif %}